body {
    background: linear-gradient(#09035c, #020111);
    width: 1200px;
    font-family: "Didot";
}

.header {
    background-color: #f3fa53;
    top: 0px;
    right: 0px;
    left: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    height: 40px;
    width: 1200px;
    padding-left: 0px;
}

.titulo {
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    padding-left: 30px;
    font-weight: bold;
    font-size: ;
}

.titulo > a {
    text-decoration: none;
    color: black;
}

.contenedor-menu {
    width: 50%;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.menu__item > a {
    text-decoration: none;
    color: black;
}

.portada {
    margin-top: 40px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f51720;
    font-weight: bold;
}

.portada__titulo {
    position: absolute;
    font-size: 50px;
}

.portada__texto {
    position: absolute;
    bottom: 200px;
    font-size: 40px;;
}

.portada__imagen > a {
}